$danger: #EC6661;
$white: white;
$grey: #777777;
$light-grey: #EEEEEE;
$middle-grey: #AEAEAE;
$darker-grey: rgba(215, 215, 215, 0.5);
$black: #000000;
$blue: #38C2DE;


$button-border-color: #D7D7D7;

$cart-background-color: #F5F2EA80;
$cart-side-bar-width: 300px;