@import "../../variables.scss";

.actions {
  flex: 1;
  justify-content: flex-end;
  .button{
    margin-right: 10px;
  }
  display: flex;
  align-items: center;
  color: $grey;
  .action-item-icon {
    text-decoration: none;
    &:visited, &:link {
      color: $grey;
    }
    &.active{
      color: $black;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 6px;
    &:hover{
      color: darken($grey, 5%)
    }
    .label {
      margin-top: 2px;
      font-size: 0.8em;
    }
  }
}