@import "../../variables.scss";

.cart-wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  .top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    .back-icon{color: $blue}
    .label-icon {
      color: $grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
  }
  .items-wrapper {
    display: flex;
    height: 100vh;
    margin: 15px;
    background-color: $cart-background-color;
  }
}
